@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Styles */


@layer components {

input[type=range]::-webkit-slider-thumb {
 

   width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  outline-width: 3px;
  outline-style: solid;
  outline-color: white;
  border-color: white;
  background:#67E8F9
  
}


input[type=range]{

 
  border-radius: 8px;


  outline: none;

  -webkit-appearance: none;
}


.traingle-down{
 
  border-left: 28px solid transparent;
  border-right: 28px solid transparent;
  border-top: 48px solid rgb(148 163 184 / var(--tw-bg-opacity));;
  /* border-radius: 0 0 10px 0; */


}
.traingle-down-white{
 
  border-left: 28px solid transparent;
  border-right: 28px solid transparent;
  border-top: 48px solid white
  /* border-radius: 0 0 10px 0; */


}

}